/* Add Google Fonts import at the top */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Raleway:wght@400;700&display=swap');

/* Style the body with the chosen font and default settings */
body {
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 80px;
    height: auto;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: left;
}


/* Style the headlines */
.home-title, h1, h2 {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em; /* 2 times the base font size */
    margin: 10px 0; /* Added margin-top as per requirement */
    text-align: center;
}

/* Update font sizes for specific elements */
.book, .join {

    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg p {
    font-size: 0.8em;
}

/* Adjust line height for better readability */
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
}

/* Reset margins and padding */
body {
    margin: 0;
    padding: 0;
}

.h2 ,h4 {
    margin: 0;
    text-align: center;
}

/* Add padding to elements */
#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
}
.button-box {
    padding: 15px;
    text-align: center;
}

.book, .join {
    padding: 15px 30px;
    text-align: center;
}

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
    text-align: center;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
    text-align: left;
}

footer .social img {
    padding-top: 15px;
}

/* Add margins to elements */
.home-title {
    margin-top: 10px;
}

.book, .join {
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    text-align: center;
}
.river img{
    text-align: left;
}

footer {
    margin-top: 200px;
    background-color: #6f7364;
}

/* Add borders and border-radius */
.book, .join {
    border-radius: 5px;
}

.card-img {
    border: 10px solid #d9c2a3; /* Use your chosen color */
   
}

main section img {
    box-sizing: border-box;
}
