body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.bg {
    width: 100%;
    height: auto;
}
.footer {
    background-color: #333;
    color: rgb(0, 0, 0);
}
.round-img {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img {
    border-radius: 50%;
    background-color: black;
    margin: 10px;
    width: 150px;
    height: 150px;
}
