.body{
background-color: black;
display: grid;
}
.card{
    width: 250px;
    margin: 0 auto; 
    background-color: white;
}
.headerimage{
    width: 10px;
    height: auto;
}
.awesomearticle{
    padding: 10px;
    text-align: center;
}
footer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    background-color: rgb(0, 42, 255);
    color: white;
    text-align: center;
    padding: 10px;
}