body {
    background-color: black;
    display: grid;
}

.card {
    grid-row: 1;
    width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;}

.headerimage {
    width: 100%;
    height: auto;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
.h1 {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial;
    color: lightblue;
    padding: 10px;
}
h2 {
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
}

.awesomearticle {
    grid-row: 2;
    padding: 10px;
    text-align: center;
    color: black;
}

footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 42, 255);
        color: white;
        padding: 10px;
        border-top: 15px;
        margin: 0 auto;
        box-sizing: border-box;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
}
p {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
}
.p1 {
    grid-column: 1 / 2;
}
.p2 {
    grid-column: 2 / 3;

}
.p3 {
    grid-column: 3 / 4;
}