body {
    font-family: Arial, sans-serif;
    margin: 0;
}
/* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  } */


.bg {
    width: 100%;
    height: auto;
    display: block;
}
.round-img {
    display: flex;
    justify-content: center;
    border-color: rgb(113, 113, 123);
    padding: 20px;
    background-color: rgb(109, 105, 105);
}

.img {
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    border-width: 15px;
    margin: 10px;
    width: 100px;
    height: auto;
    overflow: scroll;
}
