 /*ice3 styes copy*/

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

 body,
 html {
     margin: 0;
     padding: 0;
     height: 100%;
     font-family: Arial, sans-serif;
 }

 .container {
     display: grid;
     grid-template-columns: auto auto;
     height: 100vh;
 }

 .left-side {
     background-color: #ffffff;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .across {
     justify-content: center;
     align-items: left;
     text-align: center;

 }

 .right-side {
     background-color: #525353;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
 }

 .image {
     max-width: 100%;
     height: auto;
 }

 .main-text {
     font-size: 4em;
     margin: 0;
     text-align: center;
     color: rgb(0, 0, 0);
 }

 .colored-text {
     font-size: 2em;
     color: #ff0000;
     margin: 0;

 }


 body,
 html {
     margin: 0;
     padding: 0;
     height: 100%;
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr auto 1fr;
     height: 100vh;
     width: 100%;
     position: relative;
 }

 .main-text {

     align-self: center;
     font-size: 4em;
     margin: 0;
     z-index: 1;
     text-align: center;
 }

 .left-side,
 .right-side {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     /* Align items at the bottom */
     padding-bottom: 20px;
     /* Adjust as needed for spacing */
 }

 .left-side {
     background-color: #FFD700;
     /* Gold */
     align-items: center;
 }

 .right-side {
     background-color: #1E90FF;
     /* Dodger Blue */
     align-items: center;
     color: white;
 }

 .image {
     max-width: 100%;
     height: auto;
 }

 .cherries-image {
     max-width: 50%;
     /* Adjust size as needed */
     height: auto;
 }

 .colored-text {
     font-size: 2em;
     color: #FFD700;
     /* Matching color with left side */
     margin: 0;
     text-align: center;
     /* Center the text */
 }