@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #CCD0CF   ;
  --secondary-color: #0000FF ;
  --accent1-color: #00bafe;
  --accent2-color: #200BAA;

  /* change the values below to your chosen font(s) */
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Lato, HRoboto", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #200BAA;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #200BAA; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #200BAA;
  --nav-link-color: #200BAA;
  --nav-background-color: #00bafe;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #200BAA;
}

.logo-img{
width : 108pX;
}
.first-menu{
color: orange
}
.card{
  width: 20px;
  height: 20px;
}
.hero-banner{
  display: square;
  width : 100px;
  background-image:url(images\river1.jpg);
  height: 1500px;
}